<nav id="main-nav" class="navbar-expand-xl fixed-top">
        <div class="row">
           <!-- Start Top Bar -->
           <div class="container-fluid top-bar" >
              <div class="container">
                 <div class="row">
                    <div class="col-md-12">
                       <!-- Start Contact Info -->
                       <ul class="contact-details float-left">
                          <li><i class="fa fa-map-marker"></i>Lenka Kubová, Lipová 196/15, Ladná</li>
                          
                       </ul>
                       <!-- End Contact Info -->
                       <!-- Start Social Links -->
                       <ul class="contact-details float-right">
                           <li><i class="fa fa-envelope"></i><a href="mailto:dalvit@centrum.cz">dalvit@centrum.cz</a></li>
                           <li><i class="fa fa-phone"></i>+420 724 145 515</li>
                         <!-- <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a  title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                       !-->
                       </ul>
                       <!-- /End Social Links -->
                    </div>
                    <!-- col-md-12 -->
                 </div>
                 <!-- /row -->
              </div>
              <!-- /container -->
           </div>
           <!-- End Top bar -->
           <!-- Navbar Starts -->
           <div class="navbar container-fluid">
              <div class="container ">
                 <!-- logo -->
                 <a class="nav-brand" href="/en-index">
                 <img src="/img/sloughi-logo-text.png" alt="Logo webu" class="img-fluid">
                 </a>
                 <!-- Navbartoggler -->
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggle-icon">
                 <i class="fas fa-bars"></i>
                 </span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                       <!-- menu item -->
                       <li class="nav-item active">
                          <a class="nav-link" href="/en-index">About us
                          </a>
                       </li>
                       <!-- menu item -->
                       <li class="nav-item dropdown">
                          <a class="nav-link" href="/our-dogs" id="nasipsi" aria-expanded="false">
                           Our dogs
                          </a>
                       </li>
                       <!-- menu item -->
                       <li class="nav-item dropdown">
                          <a class="nav-link" href="/breed" id="breed" aria-expanded="false">
                           Breed
                          </a>
                       </li>
                       <!-- menu item -->
                       <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="litters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Litters
                          </a>
                          <div class="dropdown-menu pattern2" aria-labelledby="litters-dropdown">
                             <a class="dropdown-item" href="/litters-a">Litters "A" - 2004</a>
                             <a class="dropdown-item" href="/litters-b">Litters "B" - 2009</a>
                             <a class="dropdown-item" href="/litters-c">Litters "C" - 2019</a>
                          </div>
                       </li>
                       <!-- menu item -->
                       <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="/en-blog" id="blog" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                          Blog
                          </a>
                          <div class="dropdown-menu pattern2" aria-labelledby="blog-dropdown">
                              <a class="dropdown-item" href="/en-blog">List of posts</a>
                              <a class="dropdown-item" href="/breed">Breed, Nature of the Sloughi</a>
                              <a class="dropdown-item" href="/dogs">Dogs that everyone doesn't know</a>
                              <a class="dropdown-item" href="/fci-standard">FCI Standard</a>
                              <a class="dropdown-item" href="/present">Present days</a>
                           </div>
                       </li><!-- menu item -->
                       <li class="nav-item">
                          <a class="nav-link" href="/photogallery" id="fotogalerie" aria-expanded="false">
                           Photogallery
                          </a>
                       </li>
                       <!-- menu item -->
                       <li class="nav-item dropdown">
                          <a class="nav-link" href="/contact" id="contact" aria-expanded="false">
                           Contact
                          </a>
                       </li>
                       <li class="nav-item dropdown">
                           <a class="nav-link" href="/" id="czech" aria-expanded="false">
                           CZ
                           </a>
                        </li>
                       <!-- menu item -->
                    </ul>
                    <!--/ul -->
                 </div>
                 <!--collapse -->
              </div>
              <!-- /container -->
           </div>
           <!-- /navbar -->
        </div>
        <!--/row -->
     </nav>