<!DOCTYPE html>
<html lang="cs">
   <head>
      <meta charset="utf-8">
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="Chovná stanice Sloughi Dalvit, Ladná, Jižní Morava">
      <meta name="author" content="Pro Sloughi Dalvit INFO WEB s.r.o.">
      <!-- page title -->
      <title>Sloughi Dalvit Kennel</title>
      <!--[if lt IE 9]>
      <script src="/js/respond.js"></script>
      <![endif]-->
      <!-- Font files -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700%7CMontserrat:400,500,600,700" rel="stylesheet">
      <link href="/fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
      <link href="/fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
      <!-- Fav icons -->
      <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
      <!-- Bootstrap core CSS -->
      <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- style CSS -->
      <link href="/css/style.css" rel="stylesheet">
      <!-- plugins CSS -->
      <link href="/css/plugins.css" rel="stylesheet">
      <!-- Colors CSS -->
      <link href="/styles/maincolors.css" rel="stylesheet">
	  <!-- LayerSlider CSS -->
      <link rel="stylesheet" href="/vendor/layerslider/css/layerslider.css">
   </head>
   <!-- ==== body starts ==== -->
   <body id="top">
      <!-- Preloader  -->
      <div id="preloader">
         <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
               <div class="preloader-logo">
                  <!--logo -->
                  <img src="/img/sloughi-logo.png" alt="" class="img-fluid">
                  <!--preloader circle -->
                  <div class="lds-ring">
                     <div></div>
                     <div></div>
                     <div></div>
                     <div></div>
                  </div>
               </div>
               <!--/preloader logo -->
            </div>
            <!--/row -->
         </div>
         <!--/container -->
      </div>
      <!--/Preloader ends -->
      {% include en-navigation.html %}
      <!-- /nav -->
      {{ content }}
      <!-- ==== footer ==== -->
      <footer class="bg-light pattern1">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 text-center ">
                  <img src="/img/sloughi-logo.png"  class="logo-footer img-fluid" alt="Logo webu"/>
                  <!-- Start Social Links -->
                  <ul class="social-list text-center list-inline">
                     <li class="list-inline-item"><a title="Facebook" href="https://www.facebook.com/lenka.malinovska.39"><i class="fab fa-facebook-f"></i></a></li>
                  </ul>
                  <!-- /End Social Links -->
               </div>
               <!--/ col-lg -->
               <div class="col-lg-3">
                  <h5>About us</h5>
                  <!--divider -->
                  <hr class="small-divider left"/>
                  <p class="mt-3">A Sloughi breeding station. The breeding and dogs in general are not just a hobby for us. Thanks to our work they are also a daily bread, a lifestyle, they are a part of our lives, a family.
		  </p>
               </div>
               <!--/ col-lg -->
               <div class="col-lg-3">
                  <h5>Contact</h5>
                  <!--divider -->
                  <hr class="small-divider left"/>
                  <ul class="list-unstyled mt-3">
                     <li class="mb-1"><i class="fas fa-phone margin-icon "></i>+420 724 145 515</li>
                     <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a href="mailto:dalvit@centrum.cz">dalvit@centrum.cz</a></li>
                     <li><i class="fas fa-map-marker margin-icon"></i>Lenka Kubová<br/>Lipová 196/15, Ladná</li>
                  </ul>
                  <!--/ul -->
               </div>
               <!--/ col-lg -->
            </div>
            <!--/ row-->
            <hr/>
            <div class="row">
               <div class="credits col-sm-12">
                  <p>Copyright 2019 / Designed by <a href="https://www.infowebsro.cz">INFO WEB s.r.o.</a></p>
               </div>
            </div>
            <!--/col-lg-12-->
         </div>
         <!--/ container -->
         <!-- Go To Top Link -->
         <div class="page-scroll hidden-sm hidden-xs">
            <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
         </div>
         <!--/page-scroll-->
      </footer>

      <!--/ footer-->
      <!-- Bootstrap core & Jquery -->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Custom Js -->
      <script src="/js/custom.min.js"></script>
      <script src="/js/plugins.min.js"></script>
      <!-- Prefix free -->
      <script src="/js/prefixfree.min.js"></script>
	  <!-- number counter script -->
      <script src="/js/counter.min.js"></script>
      <!-- maps -->
      <script src="/js/map.min.js"></script>
      <!-- GreenSock -->
      <script src="/vendor/layerslider/js/greensock.js"></script>
      <!-- LayerSlider script files -->
      <script src="/vendor/layerslider/js/layerslider.transitions.js"></script>
      <script src="/vendor/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
      <script src="/vendor/layerslider/js/layerslider.load.js"></script>
   </body>
</html>
